<!-- <input  type="file"  (change)="load($event)"  /> -->
<div class="scafold">
    <div style="width: 100%;"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Tenetur consectetur aliquid voluptatum sunt neque corporis non praesentium,
        officia voluptates magnam nulla, asperiores voluptas maxime quae voluptate ratione quia exercitationem
        accusantium?
    </div>
    <div style="display: flex;">
        <div style="width: 5%;"> </div>
        <div style="width: 95%;">
            <div style="margin-bottom:5px;"> 
                <input type="file" (change)="load($event)"></div>

            <div *ngIf="byLineArray && byLineArray.length > 0">
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                    <mat-tab dynamicHeight *ngFor="let tab of tabs; let index = index"   > 
                         <ng-template mat-tab-label  >
                           {{tab}}
                            <mat-icon (click)="removeTab(index)" style="margin-left: 3px;" >close</mat-icon>
                        </ng-template>
                          <app-table  [byLineArray]="byLineArray"></app-table>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>