/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "@angular/material/theming";

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

$angular-primary: mat.define-palette(mat.$teal-palette, 300, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-primary-dark: mat.define-palette(mat.$pink-palette, 200, 100, 900);
$angular-accent-dark: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn-dark: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary-dark,
      accent: $angular-accent-dark,
      warn: $angular-warn-dark,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// class à ajouter à un <span></span> pour créer un espace dynamique
.example-spacer {
  flex: 1 1 auto;
}
.matcardpanelleft{
  width: 15%; padding-top: 0px; display: flex; flex-direction: column;
}
.mat-mdc-tab-label-container {
  margin-bottom: 10px;
}
.mat-mdc-tab {
  flex-grow: unset !important;
}
.mat-mdc-paginator-container{
  justify-content: flex-start !important;
}
.mat-mdc-form-field-bottom-align{
  display: none !important;
}
.paginator{
  width: fit-content;
  float: left;
  margin-top: 3px;
}
.odd{
  color:rgb(0, 0, 0); 
  background-color: rgb(255, 255, 255);
   
}
.even{
  color:rgb(0, 0, 0); 
  background-color: rgb(237 233 233);
}

 


